/* Общие стили */
.page__body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0;
    object-fit: cover;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Хедер */
.header {

}

.header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header__logo {
    width: auto;
    height: 60px;
}

.header__burger {
    position: relative;
    width: 24px;
    height: 16px;
    z-index: 5;
}

.header__burger-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.header__burger-line:nth-child(2),
.header__burger-line:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
}

.header__burger-line:nth-child(4) {
    top: unset;
    bottom: 0;
}

.header__nav {
    display: grid;
    grid-template-columns: 25% 1fr;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    flex-grow: 1;
    transform: translateX(100%);
}

/* Анимация открытия меню */
.header__nav--open {
    transform: translateX(0);
    transition: 0.5s linear;
}

.header__nav-list {
    background-color: #f3f3f3;
    padding: 20px 10px;
    padding-top: 100px;
    grid-area: 1 / 2;
}

.header__nav-item {
    margin-bottom: 10px;
}

.header__nav-item:last-child {
    margin-bottom: 0;
}

.header__nav-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40px;
    text-decoration: none;
    color: #000;
    background-color: aqua;
}