<!DOCTYPE html>
<html class="page" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">

    <title>
        Много рыбы
    </title>
</head>

<body class="page__body">
    <!-- Хедер -->
    <header class="header">
        <div class="header__wrapper">
            <img src="../../img/assets/review-2.png" alt="" class="header__logo">

            <div class="header__burger">
                <span class="header__burger-line"></span>
                <span class="header__burger-line"></span>
                <span class="header__burger-line"></span>
                <span class="header__burger-line"></span>
            </div>

            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a class="header__nav-item-link" href="#">
                            Главная
                        </a>
                    </li>

                    <li class="header__nav-item">
                        <a class="header__nav-item-link" href="#">
                            Регистрация
                        </a>
                    </li>

                    <li class="header__nav-item">
                        <a class="header__nav-item-link" href="#">
                            Личный кабинет
                        </a>
                    </li>

                    <li class="header__nav-item">
                        <a class="header__nav-item-link" href="#">
                            Корзина
                        </a>
                    </li>
                    
                    <li class="header__nav-item">
                        <a class="header__nav-item-link" href="#">
                            Меню
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    <!-- Мейн -->
    <main class="main">

    </main>


    <!-- Футер -->


</body>

</html>